.containerHeader {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e6e6;
  border: 1px solid #ccc;
}

.containerHeader a {
  text-decoration: none;
  margin: 30px;
  color: #045fb4;
}
